.main-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 1rem;
}

.choice-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
