body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Imposta l'altezza del body al 100% della finestra del browser */
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  font-family: "Arial", sans-serif; /* Specifica il font desiderato per tutto il sito */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block; /* Imposta gli elementi come blocchi in linea */

  &:hover {
    background-color: #0056b3;
  }
}

h1 {
  text-align: center;
}
