.login-box {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;

  .field-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.already-sign {
  text-decoration: none;
  text-align: center;
  display: block;
}
