.main-box {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%; /* Imposta la larghezza del contenitore al 80% del suo contenitore genitore */
  margin: 2rem 0; /* Centra il contenitore orizzontalmente */
  padding: 20px;
  align-items: center;

  button {
    width: 12rem;
  }
}

table {
  width: 60rem;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

td,
tr,
th {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

tr,
th {
  width: 100%;
  height: 5rem;
}

td {
  width: 20%;
  height: 100%;
}

td,
th {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
